.home{
    display: flex;
}
.home-image{
    width: 600px;
    height: 75vh;

}
.text-home{
    font-size: 60px;
    padding-top: 11vh;
    color: black;
}
.button-home{
    background-color: white;
    color: black;
    border: 2px solid black;
    
}